@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    background-image: url(../footage/bg_img.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: bottom;
    
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgba(0,0,0,0.35);
}

/* <div class="container1 h-full w-full relative flex flex-col justify-evenly"> */
.container1{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* <div id="slogan" class="slogan ml-10 pr-6 h-1/2">Your goal should never be starting a company. Focus on the change you want to make */
/* </div> */
.slogan{
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    font-size: xx-large;
    /* 2 cái giống nhau, thêm vào để phù hợp trình duyệt */
    overflow-wrap: break-word;
    word-break: break-word;
    /* end  */
    align-items: center;
    display: flex;
    box-sizing: border-box;
    color: white;
    margin-left: 40px;
    padding-right: 24px;
}
.slogan::first-line{
    right:0px;   
}
.name{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:55px;  
}
.avt:nth-child(1){
    left:0px;
    height: 90%;
}
.avt:nth-child(2){
    left:300px;
    height: 90%;

}
.avt:nth-child(3){
    left:600px;
    height:100%;
}
.avt:nth-child(4){
    left:900px;
    height: 90%;

}
.avt:nth-child(5){
    left:1200px;
    height: 90%;

}
.avt{
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,1);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    display: inline-block;
    position: absolute;
    transition: 1s;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover{
    background: #ababab;
    color: #fff;
}
#logo:hover{
    transform: scale(1.1);
    transition: 0.1s;
}

.navbar{
    background-color: rgba(0,0,0,0.35);
    height: 48px;
}
.navbar li:hover {
    transition: 0.2s;
    transform: scale(1.1);
}
@keyframes showing {
    from{
        height: 9vh;
        width: 1px;
    }
    to{
        height: 9vh;
        width: 347.41px;    
    }
}

.hidden_notify{
    position: relative;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
    background-color: #030712;
    z-index: 20;
    padding: 0px 8px 0px 8px;
    bottom: 144px;
    left:28px;
    border-radius: 12px;
    color: white;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    display: flex;
    height: 9vh;
    width: max-content;
    animation: showing 0.5s 1 ease-in-out ;
}

.nav_items{
    cursor: pointer;
    display: flex;
}

#menu_mobile{
    display: none;
}

.hocsinh{
    display: none;
}

/* <div class="info_container relative w-[calc(100%-40%-20px)] h-full flex flex-col "> */
.info_container{
    width: calc(100% - 40% - 20px);
    height: 100%;
    position:relative; 
    display: flex;
    flex-direction: column;
}

/* <div class="info h-1/2 w-[95%] ml-10   text-white"> */
.info{
    width: 95%;
    margin-left: 40px;
}

/* <div class="pic_container relative w-[calc(40%+20px)]  h-full flex flex-col items-center justify-center overflow-hidden "> */
.pic_container{
    /* background-color: red; */
    width: calc(40% + 20px);
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.avt_container{
    height: 50%;
}

/* <div class="main h-full w-full relative flex"> */
.main{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
}

