@media (max-width: 740px){

    body{
        height: 100vh;
    }

    .nav_items {
        display: none;
        flex-direction: column;
        border-right: 1px dashed white;
        height: 100%;
    }

    .navbar{
       
        /* height: auto; */
        transition: 0.5s;
        overflow: hidden;
        background-color: rgba(0,0,0,0.85);
    }

    #menu_mobile{
        display: flex;
        transition: 0.5s
    }
   
    .logoA1{
        transition: 0.5s;
    }

    .nav_items,
    .nav_items > li{
        width: 100%;
    }

    .navbar li:hover {
        transition: 0.2s;
        transform: translate(15px,0px);
    }  
    
    #main{
        flex-direction: column-reverse;
        height: max-content;
    }

    .trangchu{
        display: block;
    }

    .container1{
        height: 100%;
        width: 100%;
    }

    .container_GVCN{
        transform: translate(-2px,220px);
        height: 500px;
        width: 100%;
      }

    
      .class_pic{
        height: 200px;
        width: 300px;
      }

      .slide{
        height: 100%;
        width: 100%;
      }

      .child{
        height: 30vh;
        width: 380px;
    }

    .container2{
        margin-right: 10px;
        margin-left: 10px;
        width: 95%;
        height: 30vh;
    }
    
    .text_container{
        /* transform: translate(0px,-515px); */
        position: absolute;
        top: 0;
        height: auto;
    }

    .notify{
        transform: translate(-20px,-270px);
    }

    footer{
        position: absolute;
        top: 0;
    }

    .child:nth-child(1){
        left:-760px;
      }
      .child:nth-child(2){
        left:-380px;
      
      }
      .child:nth-child(3){
        left:0px
      }
      .child:nth-child(4){
        left:380px;
      }
      .child:nth-child(5){
        left:760px;
      }

      #slide_container{
        position: absolute;
        top: 0;
        height: auto;
      }
      


}
