:root {
  background-image: url(../footage/bg_img.jpg);
  background-repeat: no-repeat;
  background-size:cover ;
  background-position: bottom;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  background-color: rgba(0,0,0,0.35);
  
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.35);
}

  
li {
  border-bottom: 2px solid rgb(0, 0, 0, 0);
  size: 100%;
}

.navbar li:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

#logo:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
}

#A1K47 {
  font-family: "corinthia", "sans-serif";
  font-weight: 400;
  font-size: 100px;
  color: aliceblue;
}

.padding-scrollbar {
  padding-right: calc(14px - var(--scrollbar-width));
}

.GVCN{
  background-image: url('../footage/GVCN3.jpg');
  box-shadow: 3px 3px 10px rgba(0,0,0,1);
  background-size: cover;
  border-radius: 24px;
}

.container2{
  box-shadow: 3px 3px 10px rgba(0,0,0,1);
}

.child{
  /* display: flex; */
  width: 658.125px;
  height: 300.469px;
  transition: 2s ease-in;
  position: absolute;
  background-position: left 50% bottom 10%;
  background-size: cover;
  background-repeat: no-repeat;
}
.child:nth-child(1){
  left:-1316.25px;
}
.child:nth-child(2){
  left:-658.125px;

}
.child:nth-child(3){
  left:0px
}
.child:nth-child(4){
  left:658.125px;
}
.child:nth-child(5){
  left:1316.25px;
}

@keyframes showing {
  from{
      height: 9vh;
      width: 1px;
  }
  to{
      height: 9vh;
      width: 347.41px;    
  }
}

.hidden_notify{
  position: relative;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  background-color: #030712;
  z-index: 20;
  padding: 0px 8px 0px 8px;
  bottom: 144px;
  left:28px;
  border-radius: 12px;
  color: white;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  display: flex;
  height: 9vh;
  width: max-content;
  animation: showing 0.5s 1 ease-in-out ;
}

.nav_items{
  cursor: pointer;
}